<nav class="mb-12 flex justify-between items-center">
<a 
  href="/" 
  class="text-lg font-semibold tracking-tight text-ink transition duration-150 ease-in-out 
         {% if page.url != '/' %} border-b border-sand-400 hover:border-olive-600 pb-0.5 {% endif %}">
  Adham Elarabawy
</a>  
  <div class="text-sm space-x-4 font-sans">
    <a href="/projects/" class="hover:underline">Projects</a>
    <a href="/blog/" class="hover:underline">Writing</a>
  </div>
</nav>
