---
---
* {
    transition-duration: 0.4s;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}

body {
    background-color: #1f1f1f;
}

h1, h2, h3, h5 {
    color: white;
}

h3 {
    color: grey;
    font-weight: bold;
}

.wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    overflow:hidden;
}

.foreground {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width:100%;
    height:100%;
}

.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.projects {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin: 30px;
}

.project-card {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    background: linear-gradient(45deg, rgba(0, 0, 0, 0.03), rgba(255, 255, 255, 0.03));
    width: max(45vw, 350px);
    margin: 10px;
    padding: 10px;
    border-radius: 8px;
    backdrop-filter: blur(75px);

    line-height: 1.2rem;
    max-height: 14rem;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 4;
}

.project-card-thumbnail {
    border-radius: 8px;
    height: 30vh;
    width: auto;
}

.project-card-info {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: flex-start;
    margin: 3%;
}

.project-card:hover {
    background: linear-gradient(45deg, rgba(0, 0, 0, 0.05), rgba(255, 255, 255, 0.07));
}

.blobs {
    position: relative;
    /*width:100vw;*/
    /*height:200vh;*/
    justify-content: center;
    align-items: center;
    filter: blur(100px);
    z-index: -100;
}

.blue-blob {
    position: absolute;
    width: 60vw;
    top: 30vh;
    right: 10vw;
    --time: 20s;
    --amount: 2;
    --fill: #{{ site.blue }};
}

.green-blob {
    position: absolute;
    width: 35vw;
    bottom: 20vh;
    right: 5vw;
    --time: 18s;
    --amount: 7;
    --fill: #{{ site.green }};
}

.pink-blob {
    position: absolute;
    width: 35vw;
    bottom: 85vh;
    left: 50vw;
    --time: 20s;
    --amount: 2;
    --fill: #{{ site.pink }};
}

.purple-blob {
    position: absolute;
    width: 70vw;
    bottom: 110vh;
    left: 60vw;
    --time: 15s;
    --amount: 2;
    --fill: #{{ site.purple }};
}

.orange-blob {
    position: absolute;
    width: 20vw;
    bottom: 190vh;
    left: 75vw;
    --time: 15s;
    --amount: 2;
    --fill: #{{ site.orange }};
}

.button {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;

    font-family: -apple-system, BlinkMacSystemFont;
    border: none;
    padding: 6px 6px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 7px;
    background: rgba(255,255,255,0);
}

.button:hover {
    color: white;
    background: rgba(255,255,255,0.05);
}
