<div class="colorstrip"></div>
<div class="nav_bar">
  <!-- <a class="blog" style="text-decoration: none;" href="/blog/">Blog</a> -->
  <a class="projects" style="text-decoration: none;" href="/">Projects</a>
  <!-- <a class="papers" style="text-decoration: none;" href="/papers">Papers</a> -->
  <a class="resume" style="text-decoration: none;" href="https://www.adham-e.dev/pdf/resume.pdf" target="_blank">Resume</a>
  <a class="wiki" style="text-decoration: none;" href="https://adhamelarabawy.gitbook.io/wiki/" target="_blank">Wiki</a>
  <a class="about" style="text-decoration: none;" href="/about/">About</a>
</div>
