@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');
$backgroundColor: #ffffff;
$bodyColor: #000000;
// $bodyFont: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
body {
  background: $backgroundColor;
  color: $bodyColor;
  font-family: 'Lato', sans-serif!important;
}

h1, h2, h3, h4, p {
  color: #383838;
}

@media screen and (max-width: 1000px) {
    img {
         width: 350px;
    }
}

p:link{
  text-decoration: none!important;
}

.nav_bar {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  background-color: #383838;
}


.project_slide {
  width: 50vw;
  min-width: 800px;
  display: flex;
  flex-direction: row;
  flex-flow: row;
  align-items: flex-start;
  background-color: #e9ecef;
}

.project_card {
  padding-top: 0px;
  padding-bottom: 0px
}

a:hover {
  color: #55acee;
}

.projects {
  color: #55acee;
  margin: 10px;
  font-size: 20px;
}

.blog {
  color: #E0E0E0;
  margin: 10px;
  font-size: 20px;
}

.about {
  color: #E0E0E0;
  margin: 10px;
  font-size: 20px;
}

.v0 {
  color: #E0E0E0;
  margin: 10px;
  font-size: 20px;
}

.profile_section {
  display: flex;
  flex-direction: column;
}

.project_slide {
    display: flex;
    flex-direction: row;
}

.profile_img {
  border-radius: 50%;
  width: 12%;
  min-width: 140px;
  height: auto;
  width: auto\9; /* ie8 */
  margin: 15px;
}

.profile_img:hover {
  border: 4px solid #55acee;
}

._header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background: #e9ecef;
}

.centered {
  align-self: center;
}

.social {
  margin: 0 5px;
  color: #383838;
}

#social_button:hover {
  color: #383838;
}
.text_showcase {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 20px;
}

.colorstrip {
  height: 0px;
  border-top: solid 5px;
  color: #55acee;
}

.project_slide:hover {
  background-color: #d2d4d6!important;
}

// SCROLLBAR
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #d9d9d9;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #55acee;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #3a83ba;
}
