---
---
* {
    transition-duration: 0.4s;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    transition-duration: 0.4s;
}

html, body {
    height: 100%;
}

body {
    background: #1f1f1f;
}

h1, h2, h3, h5 {
    color: white;
}

h3 {
    font-weight: bold;
}

.wrapper {
    position: relative;
    width: 100%;
    height: 100%;
}

.foreground {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width:100%;
    overflow: hidden
}

.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.navbar-text {
    font-weight: normal;
}

.projects {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin: 30px;
}

.project-card {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    background: linear-gradient(45deg, rgba(0, 0, 0, 0.03), rgba(255, 255, 255, 0.03));
    width: max(45vw, 450px);
    margin: 10px;
    padding: 10px;
    border-radius: 8px;
    backdrop-filter: blur(75px);

    overflow: hidden;
}

.project-card-thumbnail {
    align-self: center;
    justify-self: center;
    border-radius: 8px;
    height: 30vh;
    width: auto;
}

.project-card-info {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: flex-start;
    margin: 3%;
}

.project-card:hover {
    transition-duration: 0.4s;
    background: linear-gradient(45deg, rgba(0, 0, 0, 0.05), rgba(255, 255, 255, 0.07));
}

.blobs {
    position: absolute;
    background: #1f1f1f;
    filter: blur(80px);
    width: 100%;
    height: 100%;
    z-index: -100;
}

.blob {
    position: absolute;
    width: 30vw;
    height: 30vw;

    animation-name: blobby;
    animation-duration: 6s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    animation-direction: alternate;
}

@keyframes blobby {
    0% {
        border-radius: 50%;
    }
    20% {
        border-radius: 41% 59% 41% 59% / 53% 51% 49% 47%;
        transform: rotate(36deg);
    }
    40% {
        transform: rotate(72deg);
        border-radius: 43% 57% 41% 59% / 53% 52% 48% 47%;
    }
    80% {
        border-radius: 48% 52% 41% 59% / 48% 58% 42% 52%;
        transform: rotate(108deg);
    }
    100% {
        transform: rotate(144deg);
        border-radius: 54% 46% 60% 40% / 43% 55% 45% 57%;
    }
}

.cursor-blob {
    background: white;
    width: 15vw;
    height: 15vw;
    opacity: 0.2;
}

.blue-blob {
    background: #{{ site.blue }};
    width: 45vw;
    height: 45vw;
    margin-top: 25vh;
    margin-left: -15vw;
}

.green-blob {
    background: #{{ site.green }};
    width: 20vw;
    height: 20vw;
    animation-delay: -5s;
    margin-top: 63vh;
    margin-left: 3vw;
}

.purple-blob {
    background: #{{ site.purple }};
    width: 65vw;
    height: 65vw;
    animation-delay: 0s;
    margin-top: 65vh;
    margin-left: 70vw;
}

.pink-blob {
    background: #{{ site.pink }};
    width: 30vw;
    height: 30vw;
    animation-delay: -5s;
    margin-top: 80vh;
    margin-left: 75vw;
}

.orange-blob {
    background: #{{ site.orange }};
    width: 10vw;
    height: 10vw;
    animation-delay: -2s;
    margin-top: 90vh;
    margin-left: 80vw;
}

.button {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;

    font-family: -apple-system, BlinkMacSystemFont;
    border: none;
    padding: 6px 6px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 7px;
    background: rgba(255,255,255,0);
}

.button:hover {
    color: white;
    background: rgba(255,255,255,0.05);
}

.footer {
    justify-content: center;
    justify-self: flex-end;
    border-radius: 7px;
    background: rgba(255,255,255,0.03);
    backdrop-filter: blur(75px);
    margin-bottom: 20px;
    padding: 6px;
}

.footer-text {
    font-weight: normal;
}