.footer {
  margin: 0;
  padding: 0;
  background-color: transparent;
}

.inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem var(--mantine-spacing-md);

  @media (max-width: $mantine-breakpoint-xs) {
    flex-direction: column;
  }
}

.links {
  @media (max-width: $mantine-breakpoint-xs) {
    margin-top: var(--mantine-spacing-md);
  }
}

.copyright {
  color: light-dark(var(--mantine-color-gray-7), var(--mantine-color-dark-0));
}